<h1>I am app component</h1>
<br>

<div>
  <label for="userName">Github User Name</label>
  <input type="text" name="userName"[(ngModel)]="userName">
</div>

<div>
<button type="button"(click)="getRepos()">Get The repositories</button>
</div>

<div *ngIf="loading">Loading....</div>
<div *ngIf="errorMessage"><strong>Warning!!!</strong>{{errorMessage|json}}
</div>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>HTML URL</th>
      <th>description</th>
      
    </tr>
  </thead>
  <tbody>

  <tr *ngFor="let repo of repos;">

    <td>{{repo.id}}</td>
    <td>{{repo.name}}</td>
    <td>{{repo.html_url}}</td>
    <td>{{repo.description}}</td>
    
  </tr>    
  </tbody>
</table>
